body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-image: url('img/5_background/bg.png');
    background-position: center;
    font-family: 'zabars', Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 4rem;
    letter-spacing: 2px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

a {
    text-decoration: none;
    color: black;
}

.landing-section{
    display: flex;
    gap: 20px;
}

.nav-section{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.button-nav{
    cursor: pointer;
    font-family: 'zabars';
    font-size: 2rem; 
    background-color: rgb(3, 86, 3, 0.5);
    border-radius: 5px;
}

.button-nav:hover{
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.78);
}

.story-section{
    width: 720px;
    height: 480px;
    border-radius: 5px;
    background-image: url('img/5_background/paper_bg.png');
    object-fit: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 1.8rem;
    letter-spacing: 1px;
}

.control-section{
    width: 720px;
    height: 480px;
    border-radius: 5px;
    background-image: url('img/5_background/paper_bg.png');
    object-fit: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    font-size: 1.8rem;
    letter-spacing: 1px;
}



.story-section img {
    width: 50px;
    height: 50px;
}



.game-start-section {
    display: flex;
    position: relative;

}

.game-start-section>img {
    width: 720px;
    height: 480px;
    border-radius: 4px;
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.78);
}

.button-start {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 200%);
    opacity: 90%;
}

.button-start img {
    width: 100px;
}

.button-start:hover {
    border-radius: 35px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6)
}



/* Buttons game.html */

.button-mute {
    position: absolute;
    left: 75%;
    transform: translate(-50%, 10px);
}

.button-mute img, .button-music img, .button-fullscreen img {
    width: 50px;
    height: 50px;
}

.button-mute:hover {
    border-radius: 20px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);
}

.button-music {
    position: absolute;
    left: 85%;
    transform: translate(-50%, 10px);
}

.button-music:hover {
    border-radius: 20px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);
}

.button-fullscreen {
    position: absolute;
    border-radius: 10px;
    left: 95%;
    transform: translate(-50%, 10px);
}


.button-fullscreen:hover {
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);
}

.button-left,
.button-right,
.button-jump,
.button-throw {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: orange;
    font-size: 2rem;
    font-weight: bold;
    font-family: 'zabars';
    position: absolute;
    transform: translate(-50%, 430px);

    display: flex;
    justify-content: center;
    align-items: center;
}

.button-left img,
.button-right img,
.button-jump img,
.button-throw img {
    width: 30px;
    height: 30px;
}

.button-left:hover,
.button-right:hover, .button-jump:hover, .button-throw:hover  {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);
}

.button-left {
    left: 15%;
}

.button-right {
    left: 25%;
}

.button-jump {
    left: 35%;
}

.button-throw {
    left: 45%;
}



.game-section {
    position: relative;
}

canvas {
    display: block;
    background-color: black;
    border-radius: 4px;
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.78);
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(4px);
}

dialog {
    border: none;
    border-radius: 12px;
    padding: 0;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
}

.dialog-lost,
.dialog-won {
    width: 520px;
    max-width: 90vw;
    min-height: 320px;
    padding: 16px;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: center -3px;
    background-origin: content-box;
    background-clip: content-box;
    background-size: calc(100% - 32px) auto;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-color: #fff;

    color: brown;
    text-align: center;

}

.dialog-lost {
    background-image: url('img/You won, you lost/Game Over.png');
}

.dialog-won {
    background-image: url('img/You won, you lost/You Win A.png');
}

.dialog-lost button,
.dialog-won button {
    padding: 4px 8px;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'zabars';
    font-size: 2rem;
    background-color: brown;
}

.dialog-lost button:hover,
.dialog-won button:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6)
}

.dialog-button-wrapper {
    display: flex;
    align-items: center;
    gap: 50px;
}

footer {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 16px;
    gap: 50px;
}


/* Smartphones */
@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
    }

    h1 {
        display: none;
    }
}

@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
    }

    h1 {
        display: none;
    }
}