@media screen and (max-width: 750px) {
    .game-start-section>img {
        width: 500px;
        height: auto;
    }

    .button-start {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 120%);
    opacity: 90%;
}

.button-start img {
    width: 80px;
}
    
}

@media screen and (max-width: 530px) {
    .game-start-section>img {
        width: 300px;
        height: auto;
    }

    

.button-start img {
    width: 50px;
}

.nav-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.nav-section button{
    width: 130px;
}
    
}




/* Mobile Devices */

/* Hochformat */
@media (hover: none) and (orientation: portrait) and (max-width: 750px) {

    h1 {
        display: none;
    }

    .game-section {
        display: none;
    }

    .button-nav {
        display: none;
    }

    .device-message {
        display: block;
    }

    footer {
        display: none;
    }

}


/* Querformat */
@media (hover: none) and (orientation: landscape) {

    .button-left,
    .button-right,
    .button-jump,
    .button-throw {
        display: flex;
    }
}

@media (hover: none) and (orientation: landscape) and (max-width: 750px) {
    .game-section {
        width: 100%;
    }
}

@media (hover: none) and (orientation: landscape) and (max-height: 500px) {
    h1 {
        display: none;
    }

    .game-section {
        height: 100dvh;
    }
}