:root{
    --main-font:rgb(45, 12, 12);
    --main-btn-bg: rgb(229, 169, 29, 0.5);
    --outline: rgb(73, 52, 3);
}

html{
    color: var(--main-font);
}

*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    margin: 0;
    font-family: 'zabars', Arial, Helvetica, sans-serif;
    overflow: hidden;
}

body.imprint-page {
    overflow-x: hidden;
    overflow-y: auto;
}

.button-img {
    padding: 0;
    border: none;
    background: none;
    line-height: 0;
    cursor: pointer;
    overflow: hidden;
}