.button-img {
    padding: 0;
    border: none;
    background: none;
    line-height: 0;
    cursor: pointer;
    overflow: hidden;
}

body{
    font-family: 'zabars', Arial, Helvetica, sans-serif;
    overflow: hidden;
}